html {
    font-size: 30px; /* Tamaño de letra base para rem */
}
h1 {
    color: yellow; /* Puedes usar nombres de colores */
}
body {
    font-size: 1rem; /* Tamaño de letra relativo al documento */
    background-image: url("/assets/bf_6.jpg"); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center; /* Centra la imagen */
}


p {
color: rgb(251, 0, 255);
font-size: 26px

}